body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header img#logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main img#construction {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.sortable {
    position: relative;
    cursor: pointer;
}

.sortable::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.sortable.ascending::after {
    content: "";
    border-bottom: 5px solid black;
    top: 20%;
    margin-top: -2.5px;
    font-size: 0.6em;
    transform: translateX(50%);
}

.sortable.descending::after {
    content: "";
    border-top: 5px solid black;
    top: 80%;
    margin-top: -2.5px;
    font-size: 0.6em;
    transform: translateX(50%);
}

thead th:not([data-column="title"]),
#books-table-body td:not(:first-child) {
    text-align: center;
}

td:not(.title),
th:not(.title) {
    white-space: nowrap;
    text-align: center;
}

td.title, th.title {
    overflow-wrap: anywhere;
}

table.responsive {
    max-width: 95%; /* 任意の幅に調整 */
    margin: 0 auto; /* 中央揃え */
}

.social-media-icons {
    margin-top: 10px;
    display: flex; /* フレックスボックスを有効にする */
    justify-content: center; /* 中央揃えにする */
    gap: 25px;
}

.social-icon {
    width: 24px;
    height: 24px;
}

.hidden {
    display: none;
}

@media (max-width: 640px) {
    thead {
        display: none;
    }

    tr.data-row {
        font-size: 0.7em
    }
}

/* bookshelfを画面いっぱいに広げるためのベーススタイル */
#bookshelf {
    width: 100%;
    /* 高さはJSで設定 */
    overflow: auto;
    background-color: #fafafa;
    text-align: center; /* 中のテキストやインライン要素をセンタリング */
}

/* もしBooklogウィジェットがブロック要素として配置される場合は、中央寄せするために以下を追加 */
#bookshelf > div {
    display: inline-block;
    margin: 0 auto;
}
