<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currently Reading</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <header>
        <a href="../index.html">Back to Home</a>
    </header>
    <main>
        <h2>Currently Reading</h2>
        <div id="loading-message" style="display: none;">Loading data, please wait...</div>
        <div class="table-wrapper">
            <table class="responsive">
                <thead>
                    <tr>
                        <th class="sortable" data-column="title">Title</th>
                        <th class="sortable" data-column="type">Type</th>
                        <th class="sortable" data-column="status">Status</th>
                        <th class="sortable" data-column="pagesRead">Pages</th>
                        <th class="sortable" data-column="progress">Progress</th>
                        <th class="sortable" data-column="daysRead">Days</th>
                        <th class="sortable" data-column="speed">Speed</th>
                    </tr>
                </thead>
                <tbody id="books-table-body">
                    <!-- データを挿入 -->
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 niikei</p>
    </footer>
    <script src="../assets/js/books.js"></script>
</body>

</html>
