<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currently Reading</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <header>
        <a href="../index.html">Back to Home</a>
    </header>
    <main>
        <h2>Book Log</h2>
        <div style="text-align: center;">
            <label for="category">Category:</label>
            <select id="category">
                <option value="0">All</option>
                <option value="3670563">文芸書</option>
                <option value="3670562">技術書</option>
                <option value="3670565">人文書</option>
                <option value="3670564">漫画</option>
            </select>

            <label for="status">Status:</label>
            <select id="status">
                <option value="0">All</option>
                <option value="1">読みたい</option>
                <option value="2">いま読んでる</option>
                <option value="3">読み終わった</option>
            </select>
        </div>
        <div id="bookshelf" align="center"></div>
    </main>
    <footer>
        <p>&copy; 2024 niikei</p>
    </footer>
    <script src="../assets/js/booklog.js"></script>
</body>

</html>
