<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading List</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <header>
        <a href="../index.html">Back to Home</a>
    </header>
    <main>
        <h2>Reading List</h2>
        <table>
            <thead>
                <tr>
                    <th class="sortable" data-column="title">Content Title</th>
                    <th class="sortable" data-column="type">Type</th>
                    <th class="sortable" data-column="progress">Progress</th>
                    <th class="sortable" data-column="startDate">Start Date</th>
                    <th class="sortable" data-column="duration">Reading Duration (Days)</th>
                </tr>
            </thead>
            <tbody id="books-table-body">
                <!-- データを挿入 -->
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2024 niikei</p>
    </footer>
    <script src="../assets/js/books.js"></script>
</body>

</html>
