<!-- news.html -->
<section id="news">
    <h2>News</h2>
    <article class="news-item">
        <h3>Created a Website!</h3>
        <p>I wanted a way to share what I'm doing, so I created a website. I chose GitHub Pages because it was free and seemed easy to use.<br>
        For "Currently Reading" page, I use Google Spreadsheet as a database and fetch data using GAS. You can sort the table by clicking on the column names. The table layout changes slightly between the desktop and mobile versions, which is a small detail I'm proud of. Try rotating your phone to see the difference.<br>
        The design is pretty basic, so I might improve it in the future.
        </p>
        <p><small>Posted on: 2024-06-02</small></p>
    </article>
    <article class="news-item">
        <h3>Received an Award</h3>
        <p>I developed software for a university class and received an award for it. It was quite enjoyable.</p>
        <div style="text-align: center;">
            <img src="/assets/images/project_hyoushou.JPG" alt="Award certificate photo" width="200">
        </div>
        <p><small>Posted on: 2024-06-08</small></p>
    </article>
    <article class="news-item">
        <h3>Paper Conditionally Accepted at International Conference</h3>
        <p>My paper submitted to an international conference has been conditionally accepted. If all goes well, I will be presenting it in Spain! This is a great opportunity and I'm very excited about it.</p>
        <p><small>Posted on: 2024-06-08</small></p>
    </article>
</section>
