<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Links</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <header>
        <a href="../index.html">Back to Home</a>
    </header>
    <main>
        <h2>My Spotify Playlists</h2>
        <ul>
            <li><a href="https://open.spotify.com/album/1UADO02ftb933q9fWudk3o?si=llSDYpGmR3eP-JtWZW6IHQ" target="_blank">Spotify Playlist 1</a></li>
            <li><a href="https://open.spotify.com/album/2A2PGP0QwWdWsi0H5OcdbW?si=Udr0nxQZQWaIm-NGOOlJ0Q" target="_blank">Spotify Playlist 2</a></li>
            <li><a href="https://open.spotify.com/playlist/621IKNkRFQQkauQygKcrPC?si=68775ab4fab9492c" target="_blank">Spotify Playlist 3</a></li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 niikei</p>
    </footer>
</body>

</html>