<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Links</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <header>
        <a href="../index.html">Back to Home</a>
    </header>
    <main>
        <h2>My Favorite YouTube Videos</h2>
        <ul class="youtube-channels">
            <li><a href="https://www.youtube.com/watch?v=xR-iHRiAEIE" target="youtube">YouTube Video 1</a></li>
            <li><a href="https://www.youtube.com/watch?v=xY-idwl_IkM" target="youtube">YouTube Video 2</a></li>
            <li><a href="https://www.youtube.com/watch?v=NRQRC_0ZQ00" target="youtube">YouTube Video 3</a></li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 niikei</p>
    </footer>
</body>

</html>