<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Links</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <header>
        <a href="../index.html">Back to Home</a>
    </header>
    <main>
        <h2>My Favorite YouTube Channels</h2>
        <ul>
            <li><a href="https://www.youtube.com/channel/CHANNEL_ID_1" target="_blank">YouTube Channel 1</a></li>
            <li><a href="https://www.youtube.com/channel/CHANNEL_ID_2" target="_blank">YouTube Channel 2</a></li>
            <li><a href="https://www.youtube.com/channel/CHANNEL_ID_3" target="_blank">YouTube Channel 3</a></li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 niikei</p>
    </footer>
</body>

</html>